/* external css: flickity.css */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
}

.gallery {
  background: transparent;
  width: 100%;
  aspect-ratio: 5 / 2;
  outline: 1px solid var(--dark) !important;
}

.flickity-viewport {
    height: 100% !important;
}

.gallery-cell {
  width: 60%;
  margin: 0px 2%;
  aspect-ratio: 3 / 2;
  background: #8C8;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: left;
  outline: 1px solid var(--dark)
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: left;
}

.gallery-caption {
    position: absolute;
    padding: 3px 20px;
    background: var(--light);
    left:0px;
    right: 0px;
    top:0px;
    text-align: left;
    visibility: hidden;
    outline: 1px solid var(--dark);
}

.gallery-cell:hover .gallery-caption {
    visibility: visible;
}

path.arrow {
    color: var(--dark);
}

button.flickity-button.flickity-prev-next-button {
    background: transparent;
    border: 1px solid var(--dark);
}

button.flickity-button.flickity-prev-next-button:hover {
    background: var(--light);
}

button.flickity-button.flickity-prev-next-button:active {
    background: var(--dark);
    opacity:1;
}

.flickity-page-dots{
    visibility: hidden;
}

@media only screen and (max-width: 768px) {
    .gallery-caption {
        font-size: 0.8rem;
        line-height: normal;
    }
}
