/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
}

.gallery {
  background: #EEE;
  width: 100%;
  aspect-ratio: 5 / 2;
}

.gallery-cell {
  width: 66%;
  margin-right: 10px;
  aspect-ratio: 3 / 2;
  background: #8C8;
  display: flex;
  justify-content: center;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
}
