:root {
    --light: bisque;
    --dark: darkolivegreen;
    --highlight: indianred;
}


.work-column {
    border-right: 1px solid var(--dark);

}
body {
    background-color: var(--light);
    padding: 2rem 0;
}

h1, p, ul, #imgtext {
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.5rem;
    margin: 0 0 1rem 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    color: var(--dark);
}

h1 {
    /* color: #eee; */
    /* border-top: 1px solid #222; */
    border-top: 1px solid var(--dark);
    font-weight: 500;
}

p {
    /* color: #222; */
    padding-right: 3rem;
}

h1::selection, p::selection, ul::selection, li::selection  {
    color:var(--light);
    background-color: var(--dark);
}

a::selection  {
    background-color: var(--highlight);
}

.row {
  margin: 0;
  padding: 0;
  /* border: 1px solid #0000ff; */
}

[class*='col-'] {
    margin: 0;
    padding: 0;
    padding-left: 1.1rem;
}

div #about-tools{
    bottom:1rem;
}

details > summary::marker {
    color: var(--dark);
}

details > summary:hover::marker {
    color: var(--highlight);
}

details > summary::after {
    float: right;
    overflow: hidden;
    margin-top: -5.01rem;
    max-width: 75%;
    vertical-align: top;
    height: 200px;
    outline: 1px solid var(--dark);
}

details#d_data > summary::after{
    content:url("assets/data/WebsiteThumbnails-Plants-3-1.jpeg");
}

details#d_design > summary::after{
    content:url("assets/design/Thumbnail-Design.png");
}

details#d_music > summary::after{
    content:url("assets/music/WebsiteThumbnails_Music.jpg");
    margin-top: -6.51rem;
}

p.section_summary {
    background: var(--light);
    position: inherit;
    width: fit-content;
    padding-right: 1rem;
}

details[open] > summary::after{
    display: none;
}

div.thumbnail_row {
    padding: 0 1rem 1rem 0;
}

div.music_commissions_col {
    padding-left: 2rem;
}

img.data_thumbnail, img.music_thumbnail {
    width: inherit;
}

div.thumbnail_container {
    width: inherit;
    position: relative;
    margin-bottom: 1rem;
    outline: 1px solid var(--dark);
    outline-offset: -1px;
}

div.thumbnail_container:hover > img {
    opacity:0
}

a.thumbnail_container_link {
    width: inherit;
}

a {
    text-decoration: none;
    font-weight: bold;
    color:inherit;
}

a:hover {
    text-decoration: none;
    color: var(--highlight);
}

p.thumbnail_caption {
    /* color: #eee; */
    position: absolute;
    z-index: -1;
    padding: 0.5rem 0.8rem;
    margin: 0;
    bottom: 0;
}

ul {
    list-style: none;
    padding: inherit;
}

ul > li:before {
    content: "-";
    padding-right: 1rem;
}


@media only screen and (max-width: 768px) {
    div #about, div #about-tools {
        position: inherit !important;;
    }

    div.thumbnail_col {
        margin-right: 2rem;
    }

}
