h1, p, ul {
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.5rem;
    margin: 0 0 1rem 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    color: #0D3766;
}

h1 {
    /* color: #eee; */
    /* border-top: 1.5px solid #222; */
    border-top: 1.5px solid #0D3766;
    font-weight: 500;
}

p {
    /* color: #222; */
    padding-right: 3rem;
}

.row {
  margin: 0;
  padding: 0;
  /* border: 1.5px solid #0000ff; */
}

[class*='col-'] {
    margin: 0;
    padding: 0;
    padding-left: 1.1rem;
    /* border: 1.5px solid #ff0000; */
}

body {
    background-color: #E3DFC6;
    padding: 2rem 0;
}

p.section_summary {
    max-width: 35%;
}

details > summary::marker {
    color: #0D3766;
}

details > summary::after {
    float: right;
    margin-top: -5.01rem;
    max-width: 75%;
    /* padding-bottom: -0.4rem; */
    vertical-align: top;
    height: 200px;
    outline: 1.5px solid #0D3766;

}

details#d_data > summary::after{
    content:url("assets/data/WebsiteThumbnails-Plants-3-1.jpeg");
}

details#d_music > summary::after{
    content:url("assets/music/WebsiteThumbnails_Music.jpg");
}

details[open] > summary::after{
    display: none;
}

div.thumbnail_row {
    padding: 0 1rem 1rem 0;
}

img.data_thumbnail, img.music_thumbnail {
    width: inherit;
}

div.thumbnail_container {
    width: inherit;
    position: relative;
    margin-bottom: 1rem;
    outline: 1.5px solid #0D3766;
    outline-offset: -1.5px;
}

div.thumbnail_container:hover > img {
    opacity:0
}

a.thumbnail_container_link {
    width: inherit;
}

a {
    text-decoration: none;
    font-weight: bold;
    color:inherit;
}

a:hover {
    text-decoration: none;
    color:white;
}

p.thumbnail_caption {
    /* color: #eee; */
    position: absolute;
    z-index: -1;
    padding: 0.5rem 0.8rem;
    margin: 0;
    bottom: 0;
}

ul {
    list-style: none;
    padding: inherit;
}

ul > li:before {
    content: "-";
    padding-right: 1rem;
}


@media only screen and (max-width: 768px) {
    div #about {
        position: inherit !important;;
    }

    div.thumbnail_col {
        margin-right: 2rem;
    }

    p.section_summary {
        max-width: 100%;
    }

}
